DeliveryIP_GitHub/synapse_adf_artifacts/pipelines/PL_1_Source_to_Landing.json
{
    "name": "PL_1_Source_to_Landing",
    "properties": {
        "activities": [
            {
                "name": "Get Control Table Details for Source Data",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set TriggerName",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT      *\nFROM        dbo.ControlTable\nWHERE       TopLevelPipelineName='@{pipeline().Pipeline}'\nAND         TriggerName LIKE '%@{variables('TriggerName')}%'\nAND         CopyEnabled = 1\n",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQL_ControlTable",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "For Each Control Table Record",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Control Table Details for Source Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Control Table Details for Source Data').output.value",
                        "type": "Expression"
                    },
                    "batchCount": 4,
                    "activities": [
                        {
                            "name": "Ingestion Pattern",
                            "type": "Switch",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "on": {
                                    "value": "@json(item().DataLoadingBehaviorSettings).ingestionPattern",
                                    "type": "Expression"
                                },
                                "cases": [
                                    {
                                        "value": "Placeholder",
                                        "activities": [
                                            {
                                                "name": "Placeholder Wait",
                                                "type": "Wait",
                                                "dependsOn": [],
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "waitTimeInSeconds": 1
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Set TriggerName",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "TriggerName",
                    "value": {
                        "value": "@if(equals(pipeline().parameters.TriggerNameOverride,'N/A')\n,pipeline().TriggerName, pipeline().parameters.TriggerNameOverride)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "TriggerNameOverride": {
                "type": "string",
                "defaultValue": "N/A"
            }
        },
        "variables": {
            "TriggerName": {
                "type": "String"
            }
        },
        "folder": {
            "name": "SourceToLandingZone"
        },
        "annotations": [],
        "lastPublishTime": "2023-02-20T20:12:33Z"
    }
}