DeliveryIP_GitHub/logicapp_standard/getNewDataContract/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Execute_query": {
                "inputs": {
                    "parameters": {
                        "query": "SELECT [ID]\n      ,[ContractID]\n      ,[SubjectArea]\n      ,[SourceSystem]\n      ,[PublisherName]\n      ,[DataNameSystem]\n      ,[DataNameFriendly]\n      ,[Description]\n      ,[BusinessContact]\n      ,[BusinessContactEmail]\n      ,[BusinessContactUPN]\n      ,[BusinessContactObjID]\n      ,[EngineeringContact]\n      ,[EngineeringContactEmail]\n      ,[EngineeringContactUPN]\n      ,[EngineeringContactObjID]\n      ,[DataOwner]\n      ,[DataOwnerEmail]\n      ,[DataOwnerUPN]\n      ,[DataOwnerObjID]\n      ,JSON_QUERY([SME]) as SME\n      ,[Pattern]\n      ,[Format]\n      ,[Restrictions]\n      ,[Metadata]\n      ,[DataClassificationLevel]\n      ,[CreatedBy]\n      ,[CreatedByEmail]\n      ,[CreatedByUPN]\n      ,JSON_QUERY([DataSchema]) as DataSchema\n      ,[Active]\n      ,[ActiveDate]\n      ,[InactiveDate]\n      ,[ControlTableID]\nFROM [dbo].[DataContract]"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {},
                "type": "ServiceProvider"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Execute_query')[0]",
                    "schema": {
                        "items": {
                            "properties": {
                                "Active": {
                                    "type": "boolean"
                                },
                                "ActiveDate": {
                                    "type": "string"
                                },
                                "BusinessContact": {
                                    "type": "string"
                                },
                                "BusinessContactEmail": {
                                    "type": "string"
                                },
                                "BusinessContactObjID": {
                                    "type": "string"
                                },
                                "BusinessContactUPN": {
                                    "type": "string"
                                },
                                "ContractID": {
                                    "type": "string"
                                },
                                "ControlTableID": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ]
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "CreatedByEmail": {
                                    "type": "string"
                                },
                                "CreatedByUPN": {
                                    "type": "string"
                                },
                                "CreatedOnDate": {
                                    "type": "string"
                                },
                                "DataClassificationLevel": {
                                    "type": "string"
                                },
                                "DataNameFriendly": {
                                    "type": "string"
                                },
                                "DataNameSystem": {
                                    "type": "string"
                                },
                                "DataOwner": {
                                    "type": "string"
                                },
                                "DataOwnerEmail": {
                                    "type": "string"
                                },
                                "DataOwnerObjID": {
                                    "type": "string"
                                },
                                "DataOwnerUPN": {
                                    "type": "string"
                                },
                                "DataSchema": {
                                    "type": "string"
                                },
                                "Description": {
                                    "type": "string"
                                },
                                "EngineeringContact": {
                                    "type": "string"
                                },
                                "EngineeringContactEmail": {
                                    "type": "string"
                                },
                                "EngineeringContactObjID": {
                                    "type": "string"
                                },
                                "EngineeringContactUPN": {
                                    "type": "string"
                                },
                                "Format": {
                                    "type": "string"
                                },
                                "ID": {
                                    "type": "integer"
                                },
                                "InactiveDate": {
                                    "type": "string"
                                },
                                "Metadata": {
                                    "type": "string"
                                },
                                "Pattern": {
                                    "type": "string"
                                },
                                "PublisherName": {
                                    "type": "string"
                                },
                                "Restrictions": {
                                    "type": "string"
                                },
                                "SME": {
                                    "type": "string"
                                },
                                "SourceSystem": {
                                    "type": "string"
                                },
                                "SubjectArea": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "ID",
                                "ContractID",
                                "SubjectArea",
                                "SourceSystem",
                                "PublisherName",
                                "DataNameSystem",
                                "DataNameFriendly",
                                "Description",
                                "BusinessContact",
                                "BusinessContactEmail",
                                "BusinessContactUPN",
                                "BusinessContactObjID",
                                "EngineeringContact",
                                "EngineeringContactEmail",
                                "EngineeringContactUPN",
                                "EngineeringContactObjID",
                                "DataOwner",
                                "DataOwnerEmail",
                                "DataOwnerUPN",
                                "DataOwnerObjID",
                                "SME",
                                "Format",
                                "Restrictions",
                                "Metadata",
                                "DataClassificationLevel",
                                "CreatedBy",
                                "CreatedByEmail",
                                "CreatedByUPN",
                                "DataSchema",
                                "CreatedOnDate",
                                "Active",
                                "ActiveDate",
                                "InactiveDate",
                                "ControlTableID"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Execute_query": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": "@body('Execute_query')[0]",
                    "schema": {
                        "items": {
                            "properties": {
                                "Active": {
                                    "type": "boolean"
                                },
                                "ActiveDate": {
                                    "type": "string"
                                },
                                "BusinessContact": {
                                    "type": "string"
                                },
                                "BusinessContactEmail": {
                                    "type": "string"
                                },
                                "BusinessContactObjID": {
                                    "type": "string"
                                },
                                "BusinessContactUPN": {
                                    "type": "string"
                                },
                                "ContractID": {
                                    "type": "string"
                                },
                                "ControlTableID": {
                                    "type": "integer"
                                },
                                "CreatedBy": {
                                    "type": "string"
                                },
                                "CreatedByEmail": {
                                    "type": "string"
                                },
                                "CreatedById": {
                                    "type": "string"
                                },
                                "CreatedByUPN": {
                                    "type": "string"
                                },
                                "CreatedOnDate": {
                                    "type": "string"
                                },
                                "DataClassificationLevel": {
                                    "type": "string"
                                },
                                "DataNameFriendly": {
                                    "type": "string"
                                },
                                "DataNameSystem": {
                                    "type": "string"
                                },
                                "DataOwner": {
                                    "type": "string"
                                },
                                "DataOwnerEmail": {
                                    "type": "string"
                                },
                                "DataOwnerObjID": {
                                    "type": "string"
                                },
                                "DataOwnerUPN": {
                                    "type": "string"
                                },
                                "Description": {
                                    "type": "string"
                                },
                                "EngineeringContact": {
                                    "type": "string"
                                },
                                "EngineeringContactEmail": {
                                    "type": "string"
                                },
                                "EngineeringContactObjID": {
                                    "type": "string"
                                },
                                "EngineeringContactUPN": {
                                    "type": "string"
                                },
                                "Format": {
                                    "type": "string"
                                },
                                "ID": {
                                    "type": "integer"
                                },
                                "InactiveDate": {
                                    "type": "string"
                                },
                                "Metadata": {
                                    "type": "string"
                                },
                                "Pattern": {
                                    "type": "string"
                                },
                                "PublisherName": {
                                    "type": "string"
                                },
                                "Restrictions": {
                                    "type": "string"
                                },
                                "SourceSystem": {
                                    "type": "string"
                                },
                                "SubjectArea": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "ID",
                                "ContractID",
                                "SubjectArea",
                                "SourceSystem",
                                "PublisherName",
                                "DataNameSystem",
                                "DataNameFriendly",
                                "Description",
                                "BusinessContact",
                                "BusinessContactEmail",
                                "BusinessContactUPN",
                                "BusinessContactObjID",
                                "EngineeringContact",
                                "EngineeringContactEmail",
                                "EngineeringContactUPN",
                                "EngineeringContactObjID",
                                "DataOwner",
                                "DataOwnerEmail",
                                "DataOwnerUPN",
                                "DataOwnerObjID",
                                "Format",
                                "Restrictions",
                                "Metadata",
                                "DataClassificationLevel",
                                "CreatedBy",
                                "CreatedByEmail",
                                "CreatedByUPN",
                                "CreatedById",
                                "CreatedOnDate",
                                "Active",
                                "ActiveDate",
                                "InactiveDate",
                                "ControlTableID"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {},
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}