DeliveryIP_GitHub/consumers/acts/synapse_artifacts/main/pipelines/PL_1_MappingAndExecuteLoad.json
{
    "name": "PL_1_MappingAndExecuteLoad",
    "properties": {
        "activities": [
            {
                "name": "Get Files to Map",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT DISTINCT A.[id]\n,A.[source_id]\n,A.[raw_filename]\n,A.[raw_folderpath]\n,B.[sinkdbTableName]\n,B.[mappingJSON]\nFROM [dbo].[ControlTable] A\nJOIN [dbo].[DataMapping] B\nON A.[source_id] = B.[sourceCTId]\nWHERE  A.[raw_folderpath] LIKE 'raw%'",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQL_ControlTable",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "For Each File",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Files to Map",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Files to Map').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Map Data",
                            "type": "SynapseNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebook": {
                                    "referenceName": "NB_MapData",
                                    "type": "NotebookReference"
                                },
                                "parameters": {
                                    "raw_folderpath": {
                                        "value": {
                                            "value": "@replace(item().raw_folderpath,'raw/','')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "raw_filename": {
                                        "value": {
                                            "value": "@item().raw_filename",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "mappingJSON": {
                                        "value": {
                                            "value": "@item().mappingJSON",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "sinkdbTableName": {
                                        "value": {
                                            "value": "@item().sinkdbTableName",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                },
                                "snapshot": true,
                                "conf": {
                                    "spark.dynamicAllocation.enabled": null,
                                    "spark.dynamicAllocation.minExecutors": null,
                                    "spark.dynamicAllocation.maxExecutors": null
                                },
                                "numExecutors": null
                            }
                        }
                    ]
                }
            },
            {
                "name": "Load to LakeDB",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "For Each File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_2_LoadToLakeDB",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            }
        ],
        "folder": {
            "name": "Mapping"
        },
        "annotations": []
    }
}